@media screen and (min-width: 768px) {
    section.primeira-parte p.quem-sou{
        font-size: 2rem;
        max-width: 700px;
    }

    section.primeira-parte h1{
        font-size: 8rem;
    }

    section.primeira-parte div.w100 div.titulo-1, section.primeira-parte div.w100 div.titulo-2 {
        max-width: 700px;
    }

    section.primeira-parte i {
        width: 60px;
        font-size: 4rem;
    }

    section.primeira-parte div.w100 img{
        width: 60px;
        height: 60px;
    }

    section.primeira-parte div.w100 div.paragrafo{
        max-width: 700px;
    }

    section.primeira-parte div.w100 p.historia{
        font-size: 2rem;
        max-width: 700px;
    }


    section.segunda-parte div.container a p {
        font-size: 1.3rem;
    }
    
    section.primeira-parte div.w100 div.titulo-2 h1 {
        transform: translateX(0px);
    }

    section.terceira-parte div.certificados > div{
   
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section.terceira-parte div.slides div.container div.border-color {
        width: 100%;
    }

   
    section.terceira-parte div.slides div.container a {
        width: 30%;
        margin: 0px 10px;
    }

    section.terceira-parte div.slides div.container a h2 {
        font-size: 1.1em !important;
    }

    section.terceira-parte div.container div.img{
        transform: translateX(-19px);
    }
}