@font-face {
    font-family: Library;
    src: url(../font/Library\ 3\ am.otf)
  }

@font-face{
    font-family: 'fonteTitulo';
        src: url(../font/infoma-heavy.ttf) format('truetype');
        font-weight: bolder;
        font-style: normal;
}

:root{
    --titulo: 'fonteTitulo', sans-serif;
    --gradiente1-1: #2B282F;
    --gradiente1-2: #4E435C;
    --gradiente1-3: #4E435C;
    --gradiente2-1: #CFBBE6;
    --gradiente2-2: #DACADA;
    --gradiente2-3: #E0CFD7;
    --quemsou: #9c8cb1;
    --coricones: #F2E8B3;
}

*{
    margin: 0px;
    padding: 0px;     
    font-family: var(--titulo);
}

.w100{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
}

section.primeira-parte{
    background-image: radial-gradient(circle, var(--gradiente1-3),var(--gradiente1-2), var(--gradiente1-1));
    height: 100vh;
}

section.primeira-parte div.w100{
    height: 100vh;
    flex-direction: column;
}

section.primeira-parte p.quem-sou{
    font-size: 1.2rem;
    color: var(--quemsou);
}

section.primeira-parte h1 , section.primeira-parte p.quem-sou {
    text-transform: uppercase;
}

section.primeira-parte h1 {
    margin-right: 5px;
    font-size: 3rem;
}

section.primeira-parte h1, p.historia{
    color: white;
}


section.primeira-parte div.icones{
    display: flex;
    align-items: center;
}


section.primeira-parte i {
    width: 30px;
    margin: 0px 5px;
    font-size: 2rem;
    color: var(--coricones);
}

section.primeira-parte div.w100 div.titulo-1, section.primeira-parte div.w100 div.titulo-2{
    width: 100%;
    max-width: 285px;
    text-align: start;
}



section.primeira-parte div.w100 div.titulo-1, section.primeira-parte div.w100 div.titulo-2{
    display: flex;
}

section.primeira-parte div.w100 div.titulo-2 {
    flex-direction: column;
    align-items: center;
}

section.primeira-parte div.w100 div.titulo-2 h1 {
    transform: translateX(-6px);
}

section.primeira-parte p.quem-sou, section.primeira-parte div.w100 div.paragrafo{
    width: 100%;
    max-width: 290px;
}

section.primeira-parte div.w100 div.paragrafo{

   font-size: 1.2rem;
   text-transform: uppercase;
}

section.primeira-parte div.w100 p.historia{
    font-weight: normal;
    font-family: sans-serif;
}

section.primeira-parte div.w100 img {
    margin-left: 7px;
    height: 30px;
    width: 30px;
    transform: translateY(2px);
}

section.segunda-parte{
    background-image: linear-gradient(to bottom, var(--gradiente2-1), var(--gradiente2-2), var(--gradiente2-3));
    width: 100%;
    min-height: 100vh;
    display: grid;
}

section.segunda-parte div.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.segunda-parte div.container > div {
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

section.segunda-parte div.container a {
    display: inline-block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-weight: normal;
}


section.segunda-parte div.container a img {
    transform: translateX(25px);
    width: 250px;
    height: 250px;
}

section.segunda-parte div.container a h2{
    margin: 10px 0px;
    color: var(--quemsou);
}

section.segunda-parte div.container a p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 20px 0px;
}

section.segunda-parte div.projetos{
    width: 100%;
    max-width: 400px;
}

section.terceira-parte{
    min-height: 100vh;
    background-color: rgb(27, 27, 27);
}

section.terceira-parte h2 {
    color: #383838;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0px
}

section.terceira-parte h2 span {
    font-size: 3rem;
    color: #8C52FF;
}

section.terceira-parte > div.slides{
    display: none;
}

section.terceira-parte > div.slide-active {
    display: block;
}

section.terceira-parte div.bullets {
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.terceira-parte div.bullets span.bullet-active, section.terceira-parte div.bullets span.bullet {
    border: 1px solid white;
    padding: 15px;
    border-radius: 100%;
    margin: 0px 10px;
    cursor: pointer;
}

section.terceira-parte div.bullets span.bullet{
    background-color:  #c1b3df;
}

section.terceira-parte div.bullets span.bullet-active {
    background-color:  #8C52FF;
}

section.terceira-parte div.slides div.container a, section.terceira-parte div.slides div.container p  { 
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 1px;
}

section.terceira-parte div.slides div.container div.border-color div.curso h2, section.terceira-parte div.slides div.container a, section.terceira-parte div.slides div.container p {
    text-align: start;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} 

section.terceira-parte div.slides div.container div.border-color div.curso h2, section.terceira-parte div.slides div.container p {
    margin: 10px 0px;
}

section.terceira-parte div.slides div.container div.border-color div.curso h2 {
    font-size: 1rem;
}


section.terceira-parte div.slides div.container div.border-color {
    
    width: 90%;
    height: 170px;
    margin: 10px auto;
}

section.terceira-parte div.slides div.container div.border-color:hover {
    background-image: linear-gradient(to right, #004AAD, #CB6CE6);
}

section.terceira-parte div.slides div.container div.border-color div.curso {
    padding: 10px;
    width: calc(100% - 24px);
    height: 146px;
    transform: translateY(2px);
    background-color: #2b2b2b;
    margin: auto;
}



section.terceira-parte div.slides div.img {
    width: 90%;
    margin: auto;
}

section.terceira-parte div.slides span {
    margin-left: 2px;
    font-size: 50px;
    color: #C1B3DF;
    width: 50px;
    height: 50px;
}