@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {/*TABLET*/
    section.primeiraParte > div > div.container > h1.titulo1, section.primeiraParte > div > h1.titulo2 > strong {
        font-size: 100px;
    }

    section.primeiraParte > div {
        margin: auto;
        display: block;
        width: calc(90vw - 55px);
        transform: translateX(55px);
    }

    section.primeiraParte > div > div.paragrafo {
       width: 75%;
    }

    section.primeiraParte > div > div.paragrafo > p.story {
        font-size: 20px;
        
    }

    section.primeiraParte > div > p.quemSou {
        font-size: 25px;
    }

    section.primeiraParte > div > div > div.icones > a > i{
        transform: translateX(-60px);
        font-size: 50px;
    }
    
    section.primeiraParte > div > div > div.icones > a > img{
        transform: translateX(-60px);
        width:  51px;
        height: 48px
    }


    section.segundaParte > div.espacamento {
        display: flex;
        height: 50vh;
        }

    section.segundaParte > div.espacamento > div {
        width: 100%;
    }
    
    section.segundaParte > div.espacamento > div.projetos > img{
        width: 200px;
        height: 250px;
    }

    section.segundaParte > div.espacamento > div.projetos > p{
        font-size: 20px;
    }

    section.segundaParte > div.espacamento > div.projetos > h2 {
        margin-top: 15px;
        font-size: 25px;
    }

    
    section.terceiraParte > h2{
       font-size: 60px;
    }
    
 
    section.terceiraParte > form > div.border1 {
        margin: 20px 10px 20px 10px;
        width: calc(80vw + 6px);
        height: 65px;
    }
    
    section.terceiraParte > form > div > input {
        font-size: 25px;
        height: 60px; 
    }
    
    section.terceiraParte > form > div > input::placeholder {
        font-size: 30px;
    }
    
    section.terceiraParte > form > div > div.icon {
        bottom: 47px;
    }
    
     section.terceiraParte > form > div > div.icon > .material-symbols-outlined {
        font-size: 30px;
     }
    
    section.terceiraParte > form > div >  textarea {
         width: 80vw; 
        margin: auto;
        border-radius: 5px;
        font-size: 25px
    } 
    
    section.terceiraParte > form > div.border2 {
        margin: 10px;
         padding-top: 2px;
        width: calc(80vw + 6px);
        height: 340px;
        background:  linear-gradient(to right, #004AAD, #CB6CE6);
        border-radius: 5px;
    }
    
    section.terceiraParte > form > div >  textarea::placeholder{
        padding-left: 5px;
        font-size: 30px;
    }
    
    section.terceiraParte > form > button {
        background: none;
        border: none;
    }
    
    section.terceiraParte > form > button > img {
        margin-top: 20px;
        width: 100%;
    }
    


}



@media screen and (min-width: 992px) {/*PC*/

    
  

    section.primeiraParte > div > div.container > h1.titulo1, section.primeiraParte > div > h1.titulo2 > strong {
        display: inline-block;
        font-size: 120px;
    }

    section.primeiraParte > div {
        width: 55vw;
    }

    section.primeiraParte > div > div.container{
        display: inline-block;
        text-align: start;
    }

    section.primeiraParte > div > p.story {
        letter-spacing: 0.1px;
       display: inline-block;
       text-indent: 20px;
        font-size: 18px;
    }

    section.primeiraParte > div > p.quemSou {
        font-size: 20px;
    }

    section.primeiraParte > div > div > div.icones {
        display: inline-block;
      
    }

    section.primeiraParte > div > div > div.icones > a > i{
        display: inline-block;
        padding-bottom: 20px;
        font-size: 50px;
    }
    
    section.primeiraParte > div > div > div.icones > a > img{
        width:  51px;
        height: 48px
    }

    section.segundaParte > div.espacamento {
        display: flex;
        height: 70vh;
        }

    section.segundaParte > div.espacamento > div {
        width: 50vw;
    }
    
    section.segundaParte > div.espacamento > div.projetos > img{
        width: 200px;
        height: 250px;
    }

    section.segundaParte > div.espacamento > div.projetos > p{
        font-size: 15px;
    }

    section.segundaParte > div.espacamento > div.projetos > h2 {
        margin-top: 5px;
        font-size: 25px;
    }

    
    section.terceiraParte > h2{
       font-size: 50px;
    }
    
    
    section.terceiraParte > form > div > div.linhaEmail > label  {
            margin-right: 90px;
            display: inline-block;
            font-size: 30px;
            }   
 
    section.terceiraParte > form > div > div.linhaEmail > input  {
                font-size: 20px;
               width: 380px;
            }   
    
    section.terceiraParte > form > div > div.linhaComentario > label {
        display: inline-block;
        padding-bottom: 80px;
        font-size: 30px;
        margin-right: 20px;
    } 
    
    section.terceiraParte > form > div > div.linhaComentario > textarea {
        border-radius: 10px;
        width: 400px;
        font-size: 20px;
        margin-bottom: -100px;
        display: inline-block;
      
    } 
    

}

