@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {/*TABLET*/
    section.primeiraParte > div > div.container > h1.titulo1, section.primeiraParte > div > h1.titulo2 > strong {
        font-size: 100px;
    }

    section.primeiraParte > div {
        margin: auto;
        display: block;
        width: calc(90vw - 55px);
        transform: translateX(55px);
    }

    section.primeiraParte > div > div.paragrafo {
       width: 75%;
    }

    section.primeiraParte > div > div.paragrafo > p.story {
        font-size: 20px;
        
    }

    section.primeiraParte > div > p.quemSou {
        font-size: 25px;
    }

    section.primeiraParte > div > div > div.icones > a > i{
        transform: translateX(-60px);
        font-size: 50px;
    }
    
    section.primeiraParte > div > div > div.icones > a > img{
        transform: translateX(-60px);
        width:  51px;
        height: 48px
    }


    section.segundaParte > div.espacamento {
        display: flex;
        height: 60vh;
        }

    section.segundaParte > div.espacamento > div {
        width: 100%;
    }
    
    section.segundaParte > div.espacamento > div.projetos > a > img{
        width: 260px;
        height: 280px;
    }

    section.segundaParte > div.espacamento > div.projetos > a > p{
        font-size: 15px;
    }

    section.segundaParte > div.espacamento > div.projetos > a > h2 {
        margin-top: 15px;
        font-size: 20px;
    }

    
    section.terceiraParte > h2{
       font-size: 60px;
    }
    
 
    section.terceiraParte > form > div.border1 {
        margin: 20px 10px 20px 10px;
        width: calc(80vw + 6px);
        height: 65px;
    }
    
    section.terceiraParte > form > div > input {
        font-size: 25px;
        height: 60px; 
    }
    
    section.terceiraParte > form > div > input::placeholder {
        font-size: 30px;
    }
    
    section.terceiraParte > form > div > div.icon {
        bottom: 47px;
    }
    
     section.terceiraParte > form > div > div.icon > .material-symbols-outlined {
        font-size: 30px;
     }
    
    section.terceiraParte > form > div >  textarea {
         width: 80vw; 
        margin: auto;
        border-radius: 5px;
        font-size: 25px;
        transform: translateY(1px);
    } 
    
    section.terceiraParte > form > div.border2 {
        margin: 10px;
         padding-top: 2px;
        width: calc(80vw + 6px);
        height: 336px;
        background:  linear-gradient(to right, #004AAD, #CB6CE6);
        border-radius: 5px;
    }
    
    section.terceiraParte > form > div >  textarea::placeholder{
        padding-left: 5px;
        font-size: 30px;
    }
    
    section.terceiraParte > form > button {
        background: none;
        border: none;
    }
    
    section.terceiraParte > form > button > img {
        margin-top: 20px;
        width: 100%;
    }
    

    section.quartaParte {
        display: flex;
        justify-content: start;
        min-height: 70vh;
    }

    section.quartaParte > div {
        margin: 40px 0px;
    }
    section.quartaParte > div > div.linhas{
        display: flex;
        flex-direction: row;
    }

    section.quartaParte > h2 {
        font-size: 40px;
    }
   
    section.quartaParte > img {
      position: relative;
      right: 45%;
      transform: translateY(30px);
    }

    section.quartaParte > div > div > a > div > div > h2 {
        font-size: 13px;
    }

    section.quartaParte > div > div > a > div > div > p {
        font-size: 16px;
    }

}



@media screen and (min-width: 992px) {/*PC*/

    
  

    section.primeiraParte > div > div.container > h1.titulo1, section.primeiraParte > div > h1.titulo2 > strong {
        font-size: 100px;
    }

    section.primeiraParte > div {
        margin: auto;
        display: block;
        width: 700px;
        transform: translateX(55px);
    }

    section.primeiraParte > div > div.paragrafo {
       width: 75%;
    }

    section.primeiraParte > div > div.paragrafo > p.story {
        font-size: 20px;
        
    }

    section.primeiraParte > div > p.quemSou {
        font-size: 25px;
    }

    section.primeiraParte > div > div > div.icones > a > i{
        transform: translateX(-60px);
        font-size: 50px;
    }
    
    section.primeiraParte > div > div > div.icones > a > img{
        transform: translateX(-60px);
        width:  51px;
        height: 48px
    }

    section.segundaParte {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    section.segundaParte > div.espacamento {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
        }

    section.segundaParte > div.espacamento > div {
        width: 40vw;
    }
    
    section.segundaParte > div.espacamento > div.projetos > a > img{
        width: 280px;
        height: 300px;
    }

    section.segundaParte > div.espacamento > div.projetos > a > p{
        font-size: 15px;
    }

    section.segundaParte > div.espacamento > div.projetos > a > h2 {
        margin-top: 5px;
        font-size: 25px;
    }

    section.terceiraParte {
        min-height: 70vh;
    }

    section.terceiraParte > h2{
       font-size: 50px;
    }
    
    section.terceiraParte > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.terceiraParte > form > div > div.linhaEmail > label  {
            margin-right: 90px;
            display: inline-block;
            font-size: 30px;
            }   

            section.terceiraParte > form > div.border1 {
                margin: 20px 10px 20px 10px;
                
                width: 648px;
                height: 58px;
            }
            
            section.terceiraParte > form > div > input {
                font-size: 25px;
                margin-top: 2px;
                width: 600px; 
            }
    

            section.terceiraParte > form > div > input::placeholder {
                font-size: 25px;
            }

            section.terceiraParte > form > div > div.icon { 
                bottom: 38px;
            }

    section.terceiraParte > form > div > div.linhaComentario > label {
        display: inline-block;
        padding-bottom: 80px;
        font-size: 30px;
        margin-right: 20px;
    } 
    section.terceiraParte > form > div.border2 {
        width: 656px;
        height: 335px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    section.terceiraParte > form > div >  textarea::placeholder{
        font-size: 25px;
    }

    section.terceiraParte > form > div >  textarea {
        font-size: 25px;
        border-radius: 10px;
        width: 650px;
        transform: translateY(1px);
        display: inline-block;
      
    } 

    section.terceiraParte > form > button > img {
        margin-top: 20px;
        width: 250px;
    }
    
    
    section.quartaParte {
        display: flex;
        justify-content: start;
        min-height: 70vh;
    }

    section.quartaParte > div {
        margin: 40px 0px;
    }
    section.quartaParte > div > div.linhas{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section.quartaParte > h2 {
        font-size: 50px;
    }
   
    section.quartaParte > img {
        width: 50px;
      position: relative;
      right: 45%;
      transform: translateY(30px);
    }

    section.quartaParte > div > div > a > div > div > h2 {
        font-size: 15px;
    }

    section.quartaParte > div > div > a > div > div > p {
        font-size: 20px;
    }


}
