@charset "UTF-8";
@font-face{
    font-family: 'fonteTitulo';
        src: url(../font/infoma-heavy.ttf) format('truetype');
        font-weight: bolder;
        font-style: normal;
}

:root{
    --gradiente1-1: #2B282F;
    --gradiente1-2: #4E435C;
    --gradiente1-3: #4E435C;
    --quemsou: #9c8cb1;
    --coricones: #F2E8B3;
    --gradiente2-1: #CFBBE6;
    --gradiente2-2: #DACADA;
    --gradiente2-3: #E0CFD7;

    --titulo: 'fonteTitulo', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;  
    
    font-family: var(--titulo);
}

ul{
    list-style: none;
}


body, html{
    width: 98vw;
    background-color: black;
}

section.primeiraParte{
    background-image: radial-gradient(circle, var(--gradiente1-3),var(--gradiente1-2), var(--gradiente1-1));
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    height: 540px;
    color: white;
    display: grid;
    place-items: center; 
}

section.primeiraParte > div {
    width: 90vw;
    display: block;
    margin: auto;
    border: 2px solid black;
}

section.primeiraParte > div > p.quemSou {
    display: inline-block;
    color: var(--quemsou);
}

section.primeiraParte > div > div.container {
    display: flex;
    border: solid 2px black;
}

section.primeiraParte > div > div.container > h1.titulo1{
    display: inline-block;
    font-size: 50px;
}


section.primeiraParte > div > div > div.icones{
display: inline-block;
margin: auto;
}


section.primeiraParte > div > div > div.icones > a > i{
    display: inline-block;
    font-size: 25px;
    color: var(--coricones);
    margin-right: 5px
}

section.primeiraParte > div > div > div.icones > a > img{
    display: inline-block;
    width:  29px;
    height: 28px;
}

section.primeiraParte > div > p.story, section.primeiraParte > div > span > p.story{
    text-align: justify;
    font-size: 11px;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-indent: 50px;
}
