@charset "UTF-8";
@font-face{
    font-family: 'fonteTitulo';
        src: url(../font/infoma-heavy.ttf) format('truetype');
        font-weight: bolder;
        font-style: normal;
}

:root{
    --gradiente1-1: #2B282F;
    --gradiente1-2: #4E435C;
    --gradiente1-3: #4E435C;
    --quemsou: #9c8cb1;
    --coricones: #F2E8B3;
    --gradiente2-1: #CFBBE6;
    --gradiente2-2: #DACADA;
    --gradiente2-3: #E0CFD7;
    --titulo-projeto: #9A888B;
    --titulo: 'fonteTitulo', sans-serif;
    --gradiente3-1: #000000;
    --gradiente3-2: #353535;
    --gradiente3-3: #5f5f5f;
}

*{
    margin: 0px;
    padding: 0px;  
    
    font-family: var(--titulo);
}

ul{
    list-style: none;
}


body, html{
    width: 98vw;
    background-color: black;
}

section.primeiraParte{
    background-image: radial-gradient(circle, var(--gradiente1-3),var(--gradiente1-2), var(--gradiente1-1));
    width: 100vw;
    min-height: 100vh;
    text-align: start;
    height: 540px;
    color: white;
    display: grid;
    place-items: center; 
}

section.primeiraParte > div {
    width: 90vw;
    display: block;
    margin: auto;
    
}

section.primeiraParte > div > p.quemSou {
    display: block;
    color: var(--quemsou);
    text-align: start;
    font-size: 12px;
}

section.primeiraParte > div > div.container {
    display: flex;
    
}

section.primeiraParte > div > div.container > h1.titulo1{
    display: inline-block;
    font-size: 60px;
}


section.primeiraParte > div > div > div.icones{
display: inline-block;
margin: auto;
}

section.primeiraParte > div > div > div.icones > a {
    padding: 12px 0.1px 0px 0.5px;
}

section.primeiraParte > div > div > div.icones > a > i{
    padding-bottom: 5px;
    display: inline-block;
    font-size: 25px;
    color: var(--coricones);
    margin-right: 5px;
}

section.primeiraParte > div > div > div.icones > a > img{
    display: inline-block;
    width:  25px;
    height: 23px
}


section.primeiraParte > div > p.story, section.primeiraParte > div > span > p.story{
    text-align: justify;
    font-size: 11px;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-indent: 50px;
}

section.primeiraParte > div > h1.titulo2 > strong{
    display: inline-block;
    font-size: 60px;
}

section.primeiraParte > p.story {
    text-align: start;
}

section.segundaParte{
    background-image: linear-gradient(to bottom, var(--gradiente2-1), var(--gradiente2-2), var(--gradiente2-3));
    width: 100vw;
    min-height: 100vh;
}

section.segundaParte > div.espacamento{
    display: block;
    justify-content: column;
    text-align: center;
    margin: auto;
   
}

section.segundaParte > div.espacamento > div.projetos{
    padding: 10px;
}

section.segundaParte > div.espacamento > div > img{
    display: block;
    margin: auto;
    width: 150px;
    height: 200px;
}

section.segundaParte > div.espacamento > div.projetos > p {
    color: var(--titulo-projeto);
    font-size: 11px;
}

section.segundaParte > div.espacamento > div.projetos > h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

section.segundaParte > h2, p, img{
    display: inline;
} 

section.terceiraParte {
    background-image: radial-gradient(circle, var(--gradiente3-3),var(--gradiente3-2), var(--gradiente3-1));
    width: 100vw;
    min-height: 100vh;
}

section.terceiraParte > h2{
    font-family: Arial, Helvetica, sans-serif;
   color: var(--coricones);
   text-align: center;
}